/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a0e195;
    margin: 0;
}

.calculator {
    background-color: #f4f9ff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.calculator-display {
    background-color: #dde9f8;
    padding: 20px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.expression {
    font-size: 1.2rem;
    color: #5b6e9a;
}

.answer {
    font-size: 2.5rem;
    color: #2e3b53;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.btn {
    background-color: #d1e4ff;
    color: #2e3b53;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: #accbfd;
}

.enter {
    grid-column: span 2;
    background-color: #1187cc;
    color: #fff;
}

#del,
#clear {
    background-color: #ff6e6e;
    color: white;
}